language: php

php:
  - 5.2
  - 5.3
  - 5.4

services: mongodb

before_script:
  - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

after_failure:
  - ps ax | grep mongo
  - cat /etc/mongodb.conf